In [1]:
import pandas as pd

In [2]:
prob_t_p = pd.DataFrame([
    {'T': 0, 'P': 0, 'prob': 0.36},
    {'T': 1, 'P': 0, 'prob': 0.28},
    {'T': 0, 'P': 1, 'prob': 0.01},
    {'T': 1, 'P': 1, 'prob': 0.35}
])
prob_t_p

   P  T  prob
0  0  0  0.36
1  0  1  0.28
2  1  0  0.01
3  1  1  0.35

prob(P|T=1) = ?

In [4]:
prob_temp = prob_t_p[prob_t_p['T'] == 1]
prob_temp

   P  T  prob
1  0  1  0.28
3  1  1  0.35

In [6]:
sum_temp = prob_temp['prob'].sum()
sum_temp

0.63

In [7]:
prob_norm = prob_temp.copy()
prob_norm['prob'] = prob_temp['prob']/sum_temp
prob_norm

   P  T      prob
1  0  1  0.444444
3  1  1  0.555556

In [8]:
def conditioning(prob_table, col_name, col_val):
    prob_temp = prob_table[prob_table[col_name] == col_val]
    sum_temp = prob_temp['prob'].sum()
    prob_norm = prob_temp.copy()
    prob_norm['prob'] = prob_temp['prob']/sum_temp
    return prob_norm

In [9]:
conditioning(prob_t_p, 'T', 1)

   P  T      prob
1  0  1  0.444444
3  1  1  0.555556

prob(P|T=0) = ?

In [10]:
conditioning(prob_t_p, 'T', 0)

   P  T      prob
0  0  0  0.972973
2  1  0  0.027027

prob(T|P=1) = ?

In [11]:
conditioning(prob_t_p, 'P', 1)

   P  T      prob
2  1  0  0.027778
3  1  1  0.972222

prob(T|P=0) = ?

In [12]:
conditioning(prob_t_p, 'P', 0)

   P  T    prob
0  0  0  0.5625
1  0  1  0.4375

In [13]:
prob_digital = pd.DataFrame([
    {'T': 0, 'P': 0, 'prob': 0.33},
    {'T': 1, 'P': 0, 'prob': 0.005},
    {'T': 0, 'P': 1, 'prob': 0.005},
    {'T': 1, 'P': 1, 'prob': 0.66}
])
prob_digital

   P  T   prob
0  0  0  0.330
1  0  1  0.005
2  1  0  0.005
3  1  1  0.660

prob(P|T=1) = ?

In [14]:
conditioning(prob_digital, 'T', 1)

   P  T      prob
1  0  1  0.007519
3  1  1  0.992481

In [15]:
conditioning(prob_digital, 'T', 0)

   P  T      prob
0  0  0  0.985075
2  1  0  0.014925